{:graphite-url "http://localhost:8081"
 :elastic-url "http://localhost:9200"
 :poll-period-seconds 10
 :restore-missing-data-on-startup false
 :missing-data-age-limit-hours 24
 :metrics-index "xmetrix"
 :graphite-metrics ["jvm.memory.max.area.*.*.*"]}
